/*
RESET css
*/

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: 100%; width: 100%;
overflow: auto;
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}

/*
MAIN
*/

.main, .main-header, .main-container, .main-footer{
  display: block;
  width: 100%;
}

.main{
  Height: 100%;
}

.main-header{
  Height: 256px;
  padding-left: 40px;
  background-color: #D0DB7F;
  vertical-align: middle;
}

.main-container{
  Height: auto;
  background-color: #CC0000;
  padding-left: 53px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.block{
  Height: auto;
  margin-top: 20px;
  margin-right: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right:7px;
  padding-left: 7px;
  border-style: solid;
  border-color: #DD1111;
  border-width: 2px;
  color: #EE8888;
}

h1{
  color: #000000;
}

h3{
  color: #FFFFFF;
}

.block a {
    color: white;
    text-decoration: none;
}
.block a:hover {
    color: #000000;
}

.main-footer{
  Height: 50px;
  background-color: #000000;
  text-align: center;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
}

.navig{
  Height: auto;
  background-color: #CC0000;
  float: right;
  margin-right: 100px;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.navig ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CC0000;
}

.navig li {
    float: left;
    font-size: 20px;
}

.navig li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navig li a:hover {
    color: black;
    background-color: #F7B5B3;
}

.ici{
  background-color: #000000;
}
